/*-------------------------
	RESET Simples
--------------------------*/


*{
	margin:0;
	padding:0;
}


/*-------------------------
	Estilos Gerais
--------------------------*/

body {
	font: 15px/1.3 'Open Sans', sans-serif;
	color: #5E5B64;
	text-align: center;
}

a, a:visited {
	outline: none;
	color: #389DC1;
}

a:hover {
	text-decoration: none;
}

section, footer, header, aside, nav {
	display: block;
}

/*-------------------------
	Editando o tooltip
--------------------------*/

.tooltip {
	background-color: #5C9BB7;

	background-image: -webkit-linear-gradient (top, #5C9BB7, #5392AD);
	background-image: -moz-linear-gradient (top, #5C9BB7, #5392AD);
	background-image: linear-gradient (top, #5C9BB7, #5392AD);

	box-shadow: 0 1px 1px #CCC;
	border-radius: 3px;
	width: 290px;
	padding: 10px;

	position: absolute;
	left: 50%;
	margin-left: -150px;
	top: 80px; 
}

.tooltip:after {
	content: '';
	position: absolute;
	border: 6px solid #5190AC;
	border-color: #5190AC transparent transparent;
	width: 0;
	height: 0;
	bottom: -12px;
	left: 50%;
	margin-left: -6px;
}

.tooltip input {
	border: none;
	width: 100%;
	line-height: 34px;
	border-radius: 3px;
	box-shadow: 0 2px 6px #BBB inset;
	text-align: center;
	font-size: 16px;
	font-family: inherit;
	color: #8D9395;
	font-weight: bold;
	outline: none;
}

p {
	font-size: 22px;
	font-weight: bold;
	color: #6D8088;
	height: 30px;
	cursor: pointer;
}

p b {
	color: #FFF;
	display: inline-block;
	padding: 5px 10px;
	background-color: #C4D7E0;
	border-radius: 2px;
	text-transform: uppercase;
	font-size: 18px;
  
}

p:before {
	content: '✎';
  font-size: 2em;
	display: inline-block;
	margin-right: 5px;
	font-weight: normal;
	vertical-align: middle;
  transition: 0.25s;
}

#main {
	height: 300px;
	position: relative;
	padding-top: 150px;
}